<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,, initial-scale=1">
  <!-- Will be replace the page title -->
  <title>{% block title %}Home{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <!-- Macro: `render paginate` -->
  {% macro render_pagination(pagination, endpoint) %}
    <nav>
      <ul class="pagination">
        <li>
        {% if pagination.has_prev %}
          <a href="{{ url_for('main.home', page=pagination.prev().page)
            }}" aria-label="Previous">
        {% else %}
          <a href="{{ url_for('main.home', page=1) }}" aria-label="Previous">
        {% endif %}
            <span aria-label="true">&laquo;</span>
          </a>
        </li>
        {% for page in pagination.iter_pages() %}
          {% if page %}
            {% if page != pagination.page %}
              <li>
                <a href="{{ url_for(endpoint, page=page) }}">
                  {{ page }}
                </a>
              </li>
            {% else %}
              <li><a href="">{{ page }}</a></li>
            {% endif %}
          {% else %}
            <li><a>...</a></li>
          {% endif %}
        {% endfor %}
        <li>
          <a href="{{ url_for('main.home', page=pagination.next().page )
            }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        <li>
      </ul>
    </nav>
  {% endmacro %}

  <style>
        .navbar{
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }
        body { padding-top: 70px; }
  </style>
</head>

<body>
  <div class="navigation" margin=0>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.home') }}">pusidun's blog</a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('main.home') }}">Home <span class="sr-only">(current)</span></a></li>
                <li><a href="#">About</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a href="{{ url_for('auth.login') }}" style="padding:0;padding-right: 10px"><button type="button" class="btn btn-default navbar-btn">Sign in</button></a>
                  </li>
                  <li>
                      <a href="{{ url_for('auth.register') }}" style="padding:0;"><button type="button" class="btn btn-default navbar-btn">Sign up</button></a>
                  </li>
              </ul>
            </div>
        </div>
    </div>
  </div>
   
  <div class="flash_message">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismi="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
  </div>
  
  <div class="container">
    {% block body %}

    {% endblock %}
  </div>

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
